/* 
 * Mobile: 375px
 * Desktop: 1440px 
 */

/* Colors */

:root {
  /* Primary */
  /* button background color & thank you selected text */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  /* h1 and button text color */
  --white: hsl(0, 0%, 100%);
  /* p text color */
  --light-grey: hsl(217, 12%, 63%);
  /* Star and Numbers Cirles and thank you selected Background Color */
  --medium-grey: hsl(216, 12%, 54%);
  /* Color Taken From Design Image */
  /* Star and Numbers Cirles and thank you selected Background Color */
  --mg: rgb(40, 57, 68);
  /* Card Background Color */
  --dark-blue: hsl(213, 19%, 18%);
  /* Background */
  --very-dark-blue: hsl(216, 12%, 8%);
}

/* - Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */

/* General Styles */

body {
  font-size: 15px;
  font-family: 'Overpass', sans-serif, monospace; 
  font-weight: 400;
  background-color: var(--very-dark-blue);
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--white);
  font-size: 1.4rem;
}

p {
  color: var(--light-grey)
}

/* Ratings Card */

.ratingsCard {
  background-color: var(--dark-blue);
  width: 359px;
  margin: auto;
  border-radius: 15px;
}

.ratingsWrapper {
  padding: 2rem;
  padding-bottom: 2.6rem;
}

.aGoldStar img {
  border-radius: 50%;
  padding: .8rem;
  margin-bottom: 1rem;
  background-color: var(--mg);
}

.mainGraph {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  line-height: 1.3rem;
}

.ratingsCard ul {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.6rem;
}

.ratingsCard ul li a {
  font-family: monospace;
  font-weight: 700;
  border-radius: 50%;
  padding: .8rem 1.1rem .8rem;
  background-color: var(--mg);
  color: var(--light-grey);
  text-decoration: none;
}

.ratingsCard ul li a:hover {
  background-color: var(--orange)!important;
  color: var(--white);
}

.ratingsCard ul li a:focus {
  color: var(--white);
  background-color: var(--light-grey);
}

button {
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  width: 100%;
  border-radius: 25px;
  padding: 1rem;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
}

/* Thank You Card */

.hiddenCard {
  display: none;
}

.thankYouCard {
  background-color: var(--dark-blue);
  width: 359px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

.selectedGraph {
  width: 53%;
  margin: 1.4rem auto;
  color: var(--orange);
  background-color: var(--mg);
  padding: .7rem .5rem .5rem .5rem;
  border-radius: 25px;
} 

.thankYouGraph {
  padding-top: 1rem;
  line-height: 1.3rem;
} 